$border-radius-lg: 0.8rem;
$font-weight-bolder: 700;
$primary: hsl(229, 23%, 23%);
$secondary: hsl(0, 0%, 59%);
$info: hsl(185, 75%, 39%);

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";
body {
  font-family: "Kumbh Sans", sans-serif;
}

.card {
  border: none;
}

.control-sm {
  font-size: 12px;
  letter-spacing: 0.8px;
}

.fs-5 {
  font-size: 14px !important;
}

h5 {
  font-size: 1.1rem;
}

.avatar-container {
  margin-top: -3.5rem;
}

.avatar {
  width: 5rem;
  height: 5rem;
  box-shadow: 0 0 0 4px #fff;
}

.container-fluid {
  z-index: 0;
}

.pattern1 {
  top: -22rem;
  left: -20rem;
  z-index: -1;
}

.pattern2 {
  bottom: -30rem;
  right: -16rem;
  z-index: -1;
  transform: rotate(354deg);
}

@media (max-width: 1300px) {
  .pattern1 {
    top: -33rem;
    left: -25rem;
    z-index: -1;
  }

  .pattern2 {
    bottom: -40rem;
    right: -20rem;
    z-index: -1;
  }
}
